.navbar {
  display:flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1C2620;
}
.hero {
  background-color: #1C2620;
  padding: 8%;
  padding-top: 20%;
  color: #92D9C8;
}
.draw-logo {
  width: 80%;
  height: min-content;
  stroke: #bf4d00;
}
